.nav {
    width: calc(100% - 100px);
    height: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
}

.logo {
    float:left;
}

.menus {
    float:left;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    line-height: 40px;
    margin-left: 50px;
}

.menus > a {
    margin-left: 30px;
}

.links {
    float:right;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    line-height: 40px;
}

.links > a {
    margin-left: 30px;
}

.navlogin {
    width: 80px;
    height: 35px;
    border: 2px solid white;
    text-align: center;
    line-height: 35px;
    transition: .2s;
}

.navlogin:hover {
    background-color: white;
    color: #292D3E;
}